<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:20px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:20px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-rg0h{font-size:12px;text-align:center;vertical-align:top}
media screen and (max-width: 767px) { .tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}</style>
<div class="tg-wrap">
    <table class="table table-bordered" style="width:700px;height:900px">
        <tbody>
            <tr>
                <th class="tg-yw4l" colspan="9"></th>
            </tr>
            <tr>
                <td class="tg-yw4l" rowspan="6"></td>
                <td class="tg-yw4l" colspan="5" rowspan="3">tablero de juego</td>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l">Score</td>
                <td class="tg-yw4l" rowspan="6"></td>
            </tr>
            <tr>
                <td class="tg-yw4l" colspan="2" rowspan="5"></td>
            </tr>
            <tr></tr>
            <tr>
                <td class="tg-rg0h" colspan="5">MEDICINAS</td>
            </tr>
            <tr>
                <td class="tg-yw4l">mas1</td>
                <td class="tg-yw4l">mas2</td>
                <td class="tg-yw4l">mas3</td>
                <td class="tg-yw4l">mas4</td>
                <td class="tg-yw4l"></td>
            </tr>
            <tr>
                <td class="tg-yw4l">med1</td>
                <td class="tg-yw4l">med2</td>
                <td class="tg-yw4l">med3</td>
                <td class="tg-yw4l">med4</td>
                <td class="tg-yw4l"></td>
            </tr>
        </tbody>
    </table>
</div>